body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.conten{
  display:  flex;
 justify-content: space-around;
  font-size: 30px;


}
/* ------------------------------------ */
.first{
  display: flex;
}
  
div.ipro{
 display: grid;
 grid-template-columns: 1fr 1fr 1fr;
 gap: 50px;
 

 margin-left: 70px;
}
.op img{
  width: 50px;
  height: 50px;
}
.op{
  border: 1px solid black;
  border-radius: 5px;
  height: 170px;
  width: 100%;
 
}
.topnav{
  display: flex;
  justify-content: space-between;
}

.hea{
  display: grid;
  grid-template-columns: 12% 80% 8%;
}
img.icon{
  width: 100%;
  height: 70%;
}
.ad{
  text-align: start;
  margin-left: 57px;
}
.op{
  padding-top: 5px;
}
/* -------------------------------------------------------------------------- */
/* Add a black background color to the top navigation */
.topnav {
  background-color:gray;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #04AA6D;
  color: white;
}


/* ----------------------------------------------------------- */
.hi {
  text-align: center;
  margin-top: 50px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid black;
}

th, td {
  padding: 8px;
}

img {
  width: 100px;
  height: 100px;
}

input {
  margin-bottom: 10px;
}

button {
  margin-top: 10px;
  padding: 8px 16px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}
/* -------------------------------------------------------------------- */
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
div.template_Container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr ;
}